#include "version.h"

VS_VERSION_INFO VERSIONINFO 
FILEVERSION     DBG_SCRIPT_VER_MAJ, DBG_SCRIPT_VER_MIN, DBG_SCRIPT_VER_BETA, 0
PRODUCTVERSION  DBG_SCRIPT_VER_MAJ, DBG_SCRIPT_VER_MIN, DBG_SCRIPT_VER_BETA, 0
FILEFLAGS       DBG_SCRIPT_FILE_FLAGS
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 0x04B0
    END
END