@import url("css/theme.css");

div[class^='highlight'] pre, code, .rst-content code {
    font-size: 14px;
}

span.versionmodified {
	font-style: italic;
	font-size: 90%;
	font-weight: bold;
}